.header-container {
    /* width: 470px; */
    /* width: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    /* background-color: #f3f3f3; */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 290px;
    height: auto;
}

/* .logoEstebanquito {
    width: 350px;
    height: 80px;
    margin-right: 10px;
} */

/* .decoration-container {
    width: auto;
    height: auto;
} */

.decoration {
    /* width: 120px; */
    width: 180px;
    height: 120px;
}