/* .main-interface {
    padding: 20px;
}

.main-content {
    margin-top: 20px;
}

.carrusel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opciones button {
    margin: 5px;
    padding: 10px;
}

.contenido {
    margin-top: 20px;
}

/* Estilos responsivos */
/* @media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .menu-container {
        display: flex;
        flex-direction: column;
    }

    .carrusel-container {
        width: 100%;
    }
}  */