.total-income-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 40px auto;
    padding: 50px;
    text-align: center;
    background-color: var(--neutral-light);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.total-income-container h1 {
    /* font-size: 2rem; */
    margin-bottom: 10px;
}

.total-income-container p {
    font-family: var(--font-family);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.input-group label {
    background-color: var(--secondary);
    color: var(--neutral-light);
    padding: 5px 15px;
    border-radius: 5px;
}

.input-group input {
    border: 1px solid var(--neutral-medium);
    background-color: var(--neutral-light);
    border-radius: 5px;
    padding: 5px 100px;
    font-size: 1rem;
    width: 100px;
    cursor: not-allowed
}

.input-group input:hover {
    /* outline: none; */
    border-color: var(--neutral-medium);
}