.father-container-register {
    font-family: var(--font-family);
    background-color: var(--primary-dark);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.register-container {
    background-color: var(--background-light);
    padding: 2rem;
    border-radius: 50px;
    width: 520px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #f5f5f5;
    margin: 150px auto;
}

.register-container h2 {
    font-size: 36px;
    margin-bottom: 1.3rem;
}

.register-container p {
    font-size: 16px;
    margin-bottom: 1.5rem;
    color: var(--text-muted);
}

.label-register {
    text-align: left;
    margin-bottom: 0.1rem;
    padding: 0 0.30rem;
}

.input-select {
    padding: 15px;
    border: 1px solid #3c3c4c;
    border-radius: 5px;
    background-color: #2f2f3f;
    color: #f5f5f5;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
}


.input-select:focus-visible {
    border-color: #7a57d1;
}

.register-button:hover {
    background-color: var(--primary-dark);
}

.register-container a {
    color: #7a57d1;
    text-decoration: none;
    font-weight: bold;
}