.movements-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    text-align: center;
    background-color: var(--neutral-light);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.movements-container h1 {
    text-align: center;
    color: var(--neutral-dark);
}

.movements-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.movements-table caption {
    background-color: var(--neutral-dark);
    color: var(--neutral-light);
    font-size: 20px;
    padding: 10px;
}

.movements-table th,
.movements-table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    /* border-bottom: 1px solid #ddd; */
}

.movements-table th {
    background-color: var(--neutral-medium);
    color: var(--neutral-light);
}

.movements-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* .movement-red {
    background-color: rgba(255, 0, 0, 0.2);
}

.movement-blue {
    background-color: rgba(0, 0, 255, 0.2);

}

.movement-yellow {
    background-color: rgba(255, 255, 0, 0.2);
}


.movement-green {
    background-color: rgba(0, 255, 0, 0.2);
} */