.profile-container {
    max-width: 650px;
    /* margin: auto; */
    margin: 40px auto;
    padding: 30px;
    background-color: var(--neutral-light);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.profile-container h1 {
    color: var(--neutral-dark);
}

.profile-details {
    display: flex;
    flex-direction: column;
    /* display: grid; */
    gap: 15px;
    margin-top: 20px;
}

.profile-details label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
}

input {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    /* border: 1px solid var(--neutral-dark); */
    border-radius: 5px;
    font-size: 16px;
}

.edit-button,
.update-button {
    margin: 25px 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button {
    background-color: var(--danger);
    color: var(--neutral-light);
}

.edit-button:hover {
    background-color: var(--danger-light);
    color: var(--neutral-light);
}

.update-button {
    background-color: var(--secondary);
    color: var(--neutral-light);
}

.update-button:hover {
    background-color: var(--secondary-light);
}