.withdraw-container {
    width: 800px;
    margin: 40px auto;
    padding: 50px;
    background-color: var(--neutral-light);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.pin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.withdraw-container label {
    font-size: 22px;
    font-weight: bold;
    margin-right: 15px;
}

.pin-input {
    width: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: var(--danger-light);
    cursor: default;
}

.withdraw-input {
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 10px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.withdraw-container button {
    background-color: var(--neutral-dark);
    color: var(--neutral-light);
    font-size: 15px;
    color: var(--neutral-light);
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}



.withdraw-container button:hover {
    background-color: var(--neutral-medium);
}

.info-text {
    display: flex;
    justify-content: center;
    width: 65%;
    margin: 15px auto;
    font-family: var(--font-family);
    font-size: 20px;
    color: var(--neutral-dark);
    background-color: var(--neutral-extra-light);
    border: 0.5px solid var(--neutral-dark);
    padding: 20px;
    border-radius: 12px;
}

.pin-input:focus {
    outline: none;
}